/*
#ff71ce pink
#01cdfe blue
#05ffa1 green
#b967ff purple
#fffb96 yellow
*/
html {
	background-color: #01cdfe;
	height: 100%;
	font-family: arial;
}

body {
	margin: 0px;
	height: 100%;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

li {
	text-align: center;
	transition-duration: .5s;
}


.header {
	height: 100px;
}
#title {
	margin: 0px;
}
#logo {
	float: left;
	margin: 5px;
	height: 90px;
}

.right {
	float: right;
	background-color: #b967ff;
	width: 30%;
	height: 100%;
}
#bio {
	margin: 5%;
	text-align: center;
}
.rightems {
	padding: 0px;
}
a li:hover {
	background-color: #cb8dff;
}

.left {
	background-color: #05ffa1;
	float: left;
	height: 100%;
	width: 70%;
}

#soundcloud {
	padding: 10% 15% 0px 10%;
}

.footer {
	background-color: #fffb96;
	text-align: center;
	width: 100%;
	height: 70px;
	float: left;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

	.right {
		width: 0px;
		float: left;
	}
	.right p {
		content: none;
	}

	.left {
		width: 100%;
	}
}